@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?z6eqm6');
  src:  url('../fonts/icomoon.eot?z6eqm6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?z6eqm6') format('truetype'),
    url('../fonts/icomoon.woff?z6eqm6') format('woff'),
    url('../fonts/icomoon.svg?z6eqm6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  color: #333;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address-book:before {
  content: "\e944";
}
.icon-location:before {
  content: "\e947";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-cross:before {
  content: "\ea0f";
  color: maroon;
}


.leaflet-map {
	min-height: 550px;
    border: 1px solid #CCC;
}
.atm-my-community-location-map {
	position: relative;
}

.atm-my-community-location-map .leaflet-control-custom {
    background-image: url(../images/mo.png);
    background-color: #f1b82d;
    background-position: center;
    background-repeat: no-repeat;
}

/* Control to choose a geography level */
.geography-level-select {
	margin: .4em 0 1em;
}
input[name="geography_type"] {
	opacity: 0;
	width: 1px;
	height: 1px;
}
input[name="geography_type"] + label {
	padding: .4em 1em;
	background-color: #e1e1e1;
	border-bottom: 2px solid #ddd;
	transition: all .2s;
}
input[name="geography_type"]:checked + label {
	/*color: #f00;*/
	/*font-weight: 700;*/
	background-color: #f1f1f1;
	border-bottom: 2px solid #f1b82d;
}

/* Address search box */
#address-search-form {
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 500;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);*/
}
#address-input {
    background-image: url(../images/search-gray.png);
    /*background-color: #f1b82d;*/
    background-position: center right 4%;
    background-repeat: no-repeat;
    background-size: 1.4em auto;
    padding-right: 2.4em;
}
.search-submit-button {
	display: none;
}
.geo-short-results-list {
	list-style-type: none;
	padding-left: 0;
    margin: 1em 0 2.5em;
}
.geo-short-results-list li {
	display: inline-block;
	margin-right: 1em;
}
.geo-short-results-list input[name="geoShortResultsList"] {
	opacity: 0;
	width: 1px;
	height: 1px;
}
.geo-short-results-list input[name="geoShortResultsList"] + label {
	padding: .4em 1em;
	background-color: #e1e1e1;
	border-bottom: 2px solid #ddd;
	transition: all .2s;
}
.geo-short-results-list .icon-cross {
	margin-left: .2em;
	font-size: .8em;
}

.district_map_container {
	position: relative;
	display: inline-block;
	border: 1px solid #ddd;
	background-color: #fafafa;
}
.district_map_container img {
	position: absolute;
	left: 0;
	top: 0;
}
.district_map_container img:first-child {
	position: relative;
	display: block;
}
#atm-directory-list ul {
	list-style-type: none;
	padding-left: 0;
    margin-left: 0;
}
#atm-directory-list ul li {
	padding-left: 1.6em;
}

.district-data-detail {
	width: 100%;
	display: inline-block;
}
.district-data-items [class^="icon-"],
.district-data-items[class*=" icon-"] {
    margin-right: .5em;
    margin-left: -1.6em;
}
.district-data-items li:first-child .district-name {
	margin-top: 0;
}
.district-name {
	margin-bottom: .5em;
}
#atm-directory-list ul li.representative-details {
	/*padding-left: 0;*/
}

